html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 100;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    float: left;
}

a {
    padding: 20px; 
    width: 100px;
    display: block;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#section1 {
    height: 700px;
    background: linear-gradient(to right, #ff0000, #0051ff);
    display: inline-block;
    width: 100%;
}

#section2 {
    height: 700px;
    background: linear-gradient(to right, #ff0000, #0051ff);
    display: inline-block;
    width: 100%;
}

#section3 {
    height: 700px;
    background: linear-gradient(to right, #ff0000, #0051ff);
    display: inline-block;
    width: 100%;
}

#section4 {
    height: 700px;
    background: linear-gradient(to right, #ff0000, #0051ff);
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#section5 {
    height: 700px;
    background: linear-gradient(to right, #ff0000, #0051ff);
    display: inline-block;
    width: 100%;
}

h1 {
    margin: 100px;
    text-align: center;
    padding: 0;
    color: #ffffff;
}

h2 {
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

p {
    font-size: 1.5em;
    margin: 200px;
    text-align: center;
    padding: 0;
    color: #ffffff;
}

.items {
    display: flex;
}

.wrapper {
    perspective: 800px;
    -webkit-perspective: 800px;
    margin-left: 20%;
}

.image {
    height: 250px;
    width: 250px;
    border: 10px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
}

.apl {
    background: url(1547222461193.jpeg);
    background-size: 250px 250px;
}

.google {
    background: url(google.png);
    background-size: 250px 250px;
}

.caption {
    background-color: black;
    height: 120px;
    width: 270px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 10px;
    transform-style: preserve-3d;
    transform: rotateX(-180deg);
    transform-origin: top;
    z-index: -1;
    position: relative;
    transition: 0.5s;
    backface-visibility: hidden;
}

.wrapper:hover .caption {
    transform: rotateX(0deg);
}
